<p>
ID: <%= user.id %><br/>
Name: <%= user.name %><br/>
<% if (user.email) { %>
Email: <%= user.email %><br/>
<% } %>
<% if (user.photos) { %>
Photos: <br/>
<img src= <%= user.photos %> ></img>
<% } %>
<% if (user.hometown) { %>
  hometown: <%= user.hometown%><br>
  <% } %>
  <% if (user.location) { %>
    hometown: <%= user.location%><br>
    <% } %>

</p>
